{:deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/math.combinatorics {:mvn/version "0.1.6"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
