{:deps
 {org.clojure/clojure            {:mvn/version "1.12.0"}
  org.clojure/math.combinatorics {:mvn/version "0.3.0"}
  org.clojure/core.async         {:mvn/version "1.6.681"}}

 :paths ["src" "resources"]

 :aliases
 {:build-images {:exec-fn   docker-clojure.core/run
                 :exec-args {:cmd             :build-images
                             :parallelization 2}}

  :test         {:extra-paths ["test"]
                 :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               orchestra/orchestra {:mvn/version "2021.01.01-1"}
                               org.clojure/test.check {:mvn/version "1.1.1"}}
                 :exec-fn     docker-clojure.fix-kaocha/run-tests
                 :exec-args   {}}}}
